.intro {
    text-align: center;
    position: absolute;
    top: 150px;
    left: 400px;
}
.about {
    text-align: center;
}
.services {
    text-align: center;
}
.one {
    height: 80vh;
    background-image: url(./assets/h_img.jpeg);
    background-size: 200vh;
    background-repeat: no-repeat;
    text-align: center;
    color: white;
}
.what {
    display: flex;
    justify-content: space-around;
}
.paragraphOne, .paragraphTwo, .paragraphThree {
    display: none;
    text-align: center;
    width: 20%;
}
.three {
    background-image: url(./assets/s_image.jpeg);
    height: 200px;
    background-size: 200vh;
    background-repeat: no-repeat;
    text-align: center;
}
.four {
    text-align: center;
}
.six {
    text-align: center;
    background-image: url(./assets/c_image.jpeg);
    background-size: 200vh;
    height: 600px;
    background-repeat: no-repeat;
}
#Name {
    height: 30px;
    width: 300px;
    opacity: 0.1;
    color: white;
    border: 2px white;
}
#Email {
    height: 30px;
    width: 300px;
    opacity: 0.1;
    color: white;
}
#Message {
    height: 300px;
    width: 500px;
    opacity: 0.1;
    color: white;
}
.social {
    text-align: center;
}
.columnOne {
    display: flex;
    border: white;
    background-origin: padding-box;
}
.columnTwo {
    display: flex;
}
.services {
    color: white;
}
.six {
    color: white;
}