.intro {
    text-align: center;
    position: absolute;
    top: 150px;
    left: 400px;
}
.about {
    text-align: center;
}
.services {
    text-align: center;
}
.one {
    height: 80vh;
    background-image: url(./assets/h_img.jpeg);
    background-size: 200vh;
    background-repeat: no-repeat;
    text-align: center;
}
.what {
    display: flex;
    justify-content: space-around;
}
.paragraphOne, .paragraphTwo, .paragraphThree {
    display: none;
    text-align: center;
    width: 20%;
}
.three {
    background-image: url(./assets/s_image.jpeg);
    height: 200px;
    background-size: 200vh;
    background-repeat: no-repeat;
    text-align: center;
}